**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
str = input("Enter a string :")
print(len(str))
str+='.'
count=0
for i in str:
    if i!='.':
        count+=1
print(count)

Enter a string :ahmed
5
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [7]:
def dub (str):
    if len(str) < 2:
        return " "
    elif len(str) == 2:
        return str+str
    else:
        return str[0:2]+str[-2:]
str=input("Enter a string :")
print(dub(str))

Enter a string :w

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [20]:
str = input("Enter a string:")
if len(str) >=3:    
    if str[-3:]=="ing":
        str=str.replace("ing","ly")
    else:
        str+="ing"
print(str)

Enter a string:playing
playly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [23]:
def longest (words):
    maximum=-1000
    for i in words:
        if len(i) > maximum:
            maximum=len(i)
    print("Length of the longest word:",maximum)
words=["ahmed","mohamed","ahmedmohamedali"]
longest(words)

Length of the longest word: 15
15

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [25]:
str=input("Enter a string:")
str=str.replace(str[0],"e").replace(str[-1],"e")
print(str)

Enter a string:ahmed
ehmee

In [28]:
str=input("Enter a string:")
str='e'+str[1:-1]+'e'
print(str)

Enter a string:mahmoud
eahmoue

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [38]:
str = input("Enter a string :")
new_str=""
for i in range(len(str)):
    if i%2==0:
        new_str+=str[i]
print(new_str)

Enter a string :ahmed
amd

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [39]:
str="amr and ahmed are frindes but amr is the tallest"
words=str.split()
word_count={}
for i in words:
    if i in word_count:
        continue
    else:
        word_count[i]=words.count(i)
print(word_count)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [40]:
str=input("Enter a string:")
print("input in lower",str.lower())
print("input in upper",str.upper())

Enter a string:ahmed
input in lower ahmed
input in upper AHMED

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [42]:
str=input("Enter a string :")
if len(str)%4==0:
    print(str[::-1])
else:
    print(str)

Enter a string :ahmed
ahmed

**10- Write a Python program to remove a newline in Python

In [44]:
str="""ahmed adel
ahmed adel
ahmed adel
"""
str=str.replace("\n"," ")
print(str)

ahmed adel ahmed adel ahmed adel

**11-Write a Python program to check whether a string starts with specified characters

In [47]:
def check (str,char):
    if str[0].lower()==char.lower():
        return True
    else:
        return False
str=input("Enter a string :")
print(check(str,'a'))

Enter a string :Ahmed
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [53]:
str='''python 
java 
c++
'''
list1=str.split('\n')
for i in range(0,len(list1)-1):
    list1[i]='^ '+list1[i]
print('\n'.join(list1))

^ python
^ java
^ c++

**13-Write a Python program to print the following numbers up to 2 decimal places

In [61]:
num=float(input("Enter a float number: "))
print(round(num,2))

Enter a float number: 12.9999
13.0

In [71]:
num=float(input("Enter a float number: "))
print("{:.2f}".format(num))

Enter a float number: 3.1415926
3.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [73]:
num=float(input("Enter a float number: "))
print("{:+.2f}".format(num))

Enter a float number: 3.1415926
+3.14

**15-Write a Python program to display a number with a comma separator

In [76]:
def display_num_comma(num):
    print("{:,.2f}".format(num))
display_num_comma(12345678.3245)

12,345,678.32

**16-Write a Python program to reverse a string using 2 ways

In [81]:
str=input("Enter a string :")
print(str[::-1])
for i in range(len(str)-1,-1,-1):
    print(str[i],end="")

Enter a string :ahmed
demha
demha

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [84]:
str=input("Enter a string :")
word_count={}
for i in str:
    if str.count(i) > 1:
        word_count[i]=str.count(i)
    else:
        continue
print(word_count)

Enter a string :hello world
{'l': 3, 'o': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [85]:
str=input("Enter a string :")
word_count={}
for i in str:
    if str.count(i) > 1:
        continue
    else:
        word_count[i]=str.count(i)
print(word_count)

Enter a string :hello world
{'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

**19-Write a Python program to remove spaces from a given string

In [88]:
str=input("Enter a string :")
print(str.replace(" ",""))

Enter a string :hello world python
helloworldpython

**20-Write a Python program to count the number of non-empty substrings of a given string

In [97]:
str=input("Enter a string :")
print(len(str)*(len(str)+1)//2)

Enter a string :w3resource
55

**21-write a Python program to swap first and last element of any list.

In [2]:
list1=[10,20,30,40,50]
print("List before swapping:",list1)
list1[0],list1[-1]=list1[-1],list1[0]
print("List after swapping:",list1)

List before swapping: [10, 20, 30, 40, 50]
List after swapping: [50, 20, 30, 40, 10]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [7]:
def swapping(list1,pos1,pos2):
    if pos1 >= len(list1)+1 or pos2 >= len(list1)+1:
        return 
    else:
        list1[pos1-1],list1[pos2-1]=list1[pos2-1],list1[pos1-1]
        return list1

list1= [23, 65, 19, 90]
print(swapping(list1,1,3))

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
list1= [23, 65, 19, 90]
print("first way",len(list1))
count=0
for i in list1:
    count+=1
print("Second way",count)

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [9]:
list1= [23, 65, 19, 90]
print(max(list1))
maximum=-1000000
for i in list1:
    if i > maximum:
        maximum=i
print(maximum)

90
90

In [10]:
list1= [23, 65, 19, 90]
maximum=-1000000
for i in list1:
    if i > maximum:
        maximum=i
print(maximum)

90

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [11]:
list1= [23, 65, 19, 90]
print(min(list1))

19

In [12]:
list1= [23, 65, 19, 90]
minimum=1000000
for i in list1:
    if i < minimum:
        minimum=i
print(minimum)

19

**26-search for if an elem is existing in list

In [15]:
def check (list1,element):
    if list1.count(element)==0:
        return False
    else:
        return True
list1= [23, 65, 19, 90]
print(check(list1,65))

True

**27- clear python list using different ways

In [20]:
list1= [23, 65, 19, 90]
list1.clear()
print(list1)

[]

In [25]:
list1= [23, 65, 19, 90]
new_list=list1[:]
for i in new_list:
    list1.remove(i)
print(list1)

[]

**28-remove duplicated elements from a list

In [31]:
list1= [23, 65,23, 19, 90,19]
set_items=set(list1)
new_list=list(set_items)
print(new_list)

[65, 90, 19, 23]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [45]:
test_list = ["Gfg", 3, "is", 8,"ahmed",11,"ali",15]
key_list = ["name", "id"] 
dic={}
new_list=[]
for i in range(0,len(test_list),2):
    print(i)
    dic[key_list[0]]=test_list[i]
    dic[key_list[1]]=test_list[i+1]
    new_list.append(dic)
    dic={}
print(new_list)

0
2
4
6
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}, {'name': 'ahmed', 'id': 11}, {'name': 'ali', 'id': 15}]

**30-write a python program to count unique values inside a list using different ways

In [50]:
list1= [23, 65,23, 19, 90,19,100]
unique_count=0
new_list=[]
for i in list1:
    if list1.count(i)==1:
        unique_count+=1
    else:
        if i not in new_list:
            new_list.append(i)
print(unique_count+len(new_list))

5

In [48]:
list1= [23, 65,23, 19, 90,19,100]
unique_set=set(list1)
print(len(unique_set))

5

In [51]:
list1= [23, 65,23, 19, 90,19,100]
new_list=list1[:]
for i in new_list:
    if list1.count(i) > 1:
        list1.remove(i)
print(len(list1))

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [55]:
def freq(list1,k):
    new_list=[]
    for i in list1:
        if list1.count(i)>k:
            if i not in new_list:
                new_list.append(i)
    return new_list
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
print(freq(test_list,3))

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [66]:
list1=[1,2,2,3,4,5]
strongest_neighbours=[]
maximum=0
for i in range(1,len(list1)):
    maximum=max(list1[i],list1[i-1])
    strongest_neighbours.append(maximum)
print(strongest_neighbours)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [72]:
digits=[1,2,3]
new_digit=[]
for i in digits:
    new_digit.append(i)
    for j in digits:
        if i!=j:
            new_digit.append(j)
    print(new_digit,end="##")
    new_digit[1],new_digit[2]=new_digit[2],new_digit[1]
    print(new_digit,end="##")
    new_digit=[]

[1, 2, 3]##[1, 3, 2]##[2, 1, 3]##[2, 3, 1]##[3, 1, 2]##[3, 2, 1]##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [4]:
digits=[1,2,3]
new_list=[]
for i in range(len(digits)):
    for j in range(i,len(digits)):
        new_list.append(digits[i:j+1])
print(new_list)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [8]:
list1=["a","b"]
list2=[1,2]
new_list=[]
for i in list1:
    for j in list2:
        new_list.append((i,j))
print(new_list)

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [14]:
def remove_element(arr,element):
    if arr.count(element) > 1:
        for i in range(arr.count(element)):
            arr.remove(element)
    return arr
new_list=[1,1,2,3,4,5,1,2,1]
print(remove_element(new_list,1))

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [17]:
list1=["gfg","is","best"]
list2=[0,1,2,1,0,0,0,2,1,1,2,0]
for i in range(len(list2)):
    list2[i]=list1[list2[i]] 
print(list2)

['gfg', 'is', 'best', 'is', 'gfg', 'gfg', 'gfg', 'best', 'is', 'is', 'best', 'gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [21]:
def check (arr,k,N):
    new_arr=[]
    for i in arr:
        if i.count(k)==N:
            new_arr.append(i)
    return new_arr
test_list = [(4, 5, 5, 4), (5, 4, 3)]
print(check(test_list,4,3))

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [30]:
array= [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array)):
    new_list=sorted(array,key=lambda x:x[i])
    print(new_list)
    new_list=[]

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [46]:
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(sorted(dic.items())) # sorted by keys
print(sorted(dic.items(),key=lambda x : x[1])) # sorted by value

[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]
[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [62]:
def check(dic,k): 
    copy=dict(dic)
    for i,j in copy.items():
        if type(j)==type(str):
            continue     
        elif j >= k:
            del dic[i]
    return dic
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
print(check(test_dict,7))

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [65]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [66]:
dic={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for key,value in dic.items():
    print(key,value)

1 10
2 20
3 30
4 40
5 50
6 60

**44- Write a Python script to merge two Python dictionaries

In [67]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic1.update(dic2)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [69]:
dic={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(max(dic.values()),min(dic.values()))

60 10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [73]:
dic={'c1': 'Red', 'c2': 'Green', 'c3': None,'c4':"ahmed",'c6':None}
copy=dict(dic)
for key,value in copy.items():
    if value==None:
        del dic[key]
print(dic)

{'c1': 'Red', 'c2': 'Green', 'c4': 'ahmed'}

**47-Write a Python program to create a tuple of numbers and print one item

In [74]:
tup=(1,2,3,4,5)
print(tup[0])
print(tup[-1])

1
5

**48-Write a Python program to unpack a tuple into several variables

In [75]:
tup=(1,2,3)
a,b,c=tup
print(a,b,c)

1 2 3

**49-Write a Python program to add an item to a tuple

In [79]:
tup=(1,2,3,4,5)
tup=tup+(6,)
print(tup)

(1, 2, 3, 4, 5, 6, 7)

**50-Write a Python program to convert a tuple to a string

In [1]:
tup=(1,2,3,4,5)
string = " ".join(map(str, tup))
print(string)

1 2 3 4 5

**51-Write a Python program to convert a list to a tuple

In [2]:
list1=[1,2,3,4,5]
list1=tuple(list1)
print(list1)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [3]:
tup=(1,2,3,4,5)
print(tup[::-1])

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [8]:
list1=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_list=[]
for i in range(len(list1)):
    new_list=list(list1[i])
    new_list[-1]=100
    list1[i]=tuple(new_list) 
     
print(list1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [9]:
string="python3.0"
tup=tuple(string)
print(tup)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [10]:
tup=((10, 20, 100), (40, 50, 100), (70, 80, 100))
for i in tup:
    print(sum(i)/len(i))

43.333333333333336
63.333333333333336
83.33333333333333

**56-Write a Python program to add member(s) to a set.

In [11]:
num_set={1,2,8,9}
num_set.add(5)
print(num_set)

{1, 2, 5, 8, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
def remove_from_set (num_set,num):
    try:
        num_set.remove(num) 
        print(f"{num} removed from set")
    except:
        print(f"{num} is not in the set")

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [12]:
num_set1={1,2,8,9}
num_set2={10,20,8,9,30}
print(num_set1.intersection(num_set2))
print(num_set1.union(num_set2))
print(num_set1.difference(num_set2))
print(num_set1.symmetric_difference(num_set2))

{8, 9}
{1, 2, 8, 9, 10, 20, 30}
{1, 2}
{1, 2, 20, 10, 30}

**59-Write a Python program to find the maximum and minimum values in a set

In [13]:
num_set1={1,2,8,9}
print(max(num_set1),min(num_set1))

9 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [18]:
def sum_pairs(list1,num):
    pairs=set()
    for i in range(len(list1)):
        for j in range(i+1,len(list1)):
            if (list1[i]+list1[j])==num:
                pairs.add((list1[i],list1[j]))
    return pairs

lst = [1, 2, 3, 4, 5, 6]
print(sum_pairs(lst,6))

{(2, 4), (1, 5)}