### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [1]:
num1=int(input("Enter the first number :"))
num2=int(input("Enter the second number :"))
print(f"Addition is {num1+num2}")

Enter the first number :10
Enter the second number :20
Addition is 30

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [3]:
num=int(input("Enter a number :"))
if num%2==0:
    print("Even")
else:
    print("Odd")

Enter a number :5
Odd

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [1]:
for i in range(1,21):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [4]:
def vowels (str):
    vow="aieou"
    count=0
    for i in str:
        if i.lower() in vow:
            count+=1
    return count

str=input("Enter a string :")
print(vowels(str))

Enter a string :Ahmed
2

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [12]:
lista=list(range(1,11))
for i in lista:
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81 100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [15]:
student_name=input("Enter the student name :")
n=int(input("Enter the number of subjects :"))
sub_name=[]
scores=[]

for i in range(n):
    subject=input("Enter subject name :")
    score=int(input("Enter subject score"))
    sub_name.append(subject)
    scores.append(score)
    
average=sum(scores)/len(scores)

if average >=70:
    print(f"Congratulations, {student_name}")
else:
    print(f"You can do best {student_name}")

Enter the student name :Ahmed
Enter the number of subjects :3
Enter subject name :Math
Enter subject score50
Enter subject name :Arabic
Enter subject score100
Enter subject name :English
Enter subject score70
Congratulations, Ahmed

SyntaxError: invalid syntax (769466490.py, line 2)

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [17]:
def common_elements (lista1,lista2):
    new_list=[]
    for i in lista1:
        for j in lista2:
            if i==j:
                new_list.append(i)
                break
    return new_list
lista1=[10,20,30]
lista2=[5,6,7,10,20,40]
print(common_elements(lista1,lista2))

[10, 20]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [21]:
def fun(list1,element):
    try:
        list1.remove(element)
        print(f"Element {element} is removed ")
        return list1
    except(ValueError):
        print("The element is not in the list")
        return list1

list1=[1,2,3,4,5]
print(fun(list1,6))

The element is not in the list
[1, 2, 3, 4, 5]

ValueError: list.remove(x): x not in list

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [23]:
A=int(input("Enter the first number :"))
B=int(input("Enter the second number :"))
C=int(input("Enter the third number :"))
D=int(input("Enter the fourth number :"))
print(f"The last two digits are {(A*B*C*D)%100}")

Enter the first number :1
Enter the second number :1
Enter the third number :1
Enter the fourth number :1
The last two digits are 1

### 10- Given a number X. Determine if the number is prime or not

In [29]:
num=int(input("Enter a number :"))
if num > 1:
    for i in range(2,num):
        if num%i==0:
            print("Not prime")
            break
    else:
        print("Prime")
else:
    print("prime")

Enter a number :1
prime

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [36]:
N=int(input("Enter the len of list"))
A=list(map(int,input("Enter the numbers with spaces").split()))
X=int(input("Enter a number :"))
if X in A :
    print(A.index(X))
else:
    print(f"Element {X} is not in the list")

Enter the len of list5
Enter the numbers with spaces1 2 3 4 5
Enter a number :5
4

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [40]:
N=int(input("Enter the len of list"))
A=[]
for i in range(N):
    x=int(input("Enter a number"))
    A.append(x)
num=min(A)
if A.count(num)%2!=0:
    print("The array is lucky")
else:
    print("Array is not lucky")

Enter the len of list6
Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
The array is lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [41]:
N=int(input("Enter the len of list : "))
A=[]
for i in range(N):
    x=int(input("Enter a number: "))
    A.append(x)
index_max=A.index(max(A))
index_min=A.index(min(A))
A[index_max],A[index_min]=A[index_min],A[index_max]
print(A)

Enter the len of list : 6
Enter a number: 2
Enter a number: 5
Enter a number: 8
Enter a number: 7
Enter a number: 6
Enter a number: 10
[10, 5, 8, 7, 6, 2]

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [43]:
N=int(input("Enter the len of list : "))
A=[]
for i in range(N):
    x=int(input("Enter a number: "))
    A.append(x)

print(f"The lowest number in the list is {min(A)} and its index is {A.index(min(A))}")

Enter the len of list : 6
Enter a number: 1
Enter a number: 5
Enter a number: 6
Enter a number: 1
Enter a number: 2
Enter a number: 8
The lowest number in the list is 1 and its index is 0

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [44]:
N=int(input("Enter the len of list : "))
A=[]
for i in range(N):
    x=int(input("Enter a number: "))
    A.append(x)
print(sorted(A))

Enter the len of list : 6
Enter a number: 1
Enter a number: 5
Enter a number: 6
Enter a number: 1
Enter a number: 2
Enter a number: 8
[1, 1, 2, 5, 6, 8]

### 16- Write a Python program to remove spaces from a given string

In [47]:
def remove_space (str):
    return str.replace(" ","")
str = input("Enter a string :")
print(remove_space(str))

Enter a string :a hmed
ahmed

### 17-write a Python program to swap first and last element of any list.

In [48]:
def swap_list (list1):
    list1[0],list1[-1]=list1[-1],list1[0]
    return list1
list1 = list(map(int , input("Enter a numbers with spaces :").split()))
print(swap_list(list1))

Enter a numbers with spaces :6 5 4 3 2
[2, 5, 4, 3, 6]

### 18- Write a Python program to add member(s) to a set.

In [50]:
num_set=set()
print("add a single element to a set:")
num_set.add(10)
print("add a multiple elements to a set:")
num_set.update([20,2])
print(num_set)

add a single element to a set:
add a multiple elements to a set:
{10, 2, 20}

### 19-Write a Python program to remove an item from a set if it is present in the set

In [56]:
def remove (num_set,num):
        num_set.discard(num)
        return num_set
num_set=set([1,2,3,4,5,6])
print(remove(num_set,20))

{1, 2, 3, 4, 5, 6}

### 20-Write a Python program to get the maximum and minimum values of a dictionary values

In [57]:
d={"first":10,"second":20,"third":30,"ahmed":50}
print(f"The max value in the dictionary is {max(d.values())} and the min value in the dictionary is {min(d.values())}")

The max value in the dictionary is 50 and the min value in the dictionary is 10

### 21-Write a Python program to drop empty items from a given dictionary.Original Dictionary:{'c1': 'Red', 'c2': 'Green', 'c3': None}New Dictionary after dropping empty items:{'c1': 'Red', 'c2': 'Green'}

In [58]:
d={'c1': 'Red', 'c2': 'Green', 'c3': None}
for i,j in d.items():
    if j==None:
        del d[i]
        break
print(d)

{'c1': 'Red', 'c2': 'Green'}